a{
  text-decoration: none;
}
.HelpFir{
  width:95%;
  margin:0 auto;
  border:1px solid #DEDEDE;
  border-radius:5px;
  overflow: hidden;
  margin-top:10px;
}
.Helpdec{
  width:100%;
  height:4rem;
  border-bottom:1px solid #DEDEDE;
  line-height:4rem;
}
.Helpdec>div{
  margin-left:5%;
  font-weight:bold;
  overflow: hidden;
}
.Helpul{
  width:100%;
  height:3rem;
  list-style: none;
  border-bottom:1px solid #DEDEDE;
  overflow: hidden;
  padding-left:3rem;
}
.Helpul>div{

  height:3rem;
  float: left;
  line-height:3rem;
  padding-bottom:1rem;
}
.Helpul>div>a{
  color: #666666;
  line-height:3rem;
  font-size:1rem;
}
.btn{
  width:95%;
  margin:0 auto;
  margin-top:10px;
}
.btn button{
  width:100%;
}

