page-ucenter11 {

}
.headz1{
  text-align: center;
  width:100%;
  height:3rem;
  line-height:1rem;
  font-size: 1rem;
  border-bottom:1px solid #dedede;
}
.litlez11{
  font-size:2rem;
}
.buttonzhm1{
  width:100%;
  height:4rem;
  text-align: center;
  line-height:4rem;
  background-color:#FD4B4B;
  border-radius:1rem;
  font-size: 2rem;
}
.buttonzhm1>a{
  color:white;
}
.buttonzhm2{
  width:100%;
  height:4rem;
  text-align: center;
  line-height:4rem;
  background-color:#6CB248;
  border-radius:1rem;
  font-size: 2rem;
  margin-top:1rem;
}
