<ion-header>
  <ion-navbar>
    <ion-title>
      产品分类
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="action-sheets-basic-page" (ionScroll)="scrollHandle($event)">
  <!--搜索栏-->
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list *ngIf="itemseach.length > 0">
    <ion-item *ngFor="let item of itemseach">
      {{ item }}
    </ion-item>
  </ion-list>
  <button ion-button block (click)="openMenu()" class="zixun">
    在线咨询
  </button>
  <!--类别-->
  <ion-grid>
    <ion-row class="type">
      <ion-col (click)="go('蛋糕')">
          <img src="../../../assets/images/class_dg.png" alt="">
          <p>蛋糕</p>
      </ion-col>
      <ion-col>
          <img src="../../../assets/images/flower.png" alt="">
          <p>鲜花</p>
      </ion-col>
      <ion-col>
          <img src="../../../assets/images/lm11.png" alt="">
          <p>浪漫组合</p>
      </ion-col>
    </ion-row>
    <ion-row class="type">
      <ion-col (click)="go('蛋糕')">
          <img src="../../../assets/images/class_hongjiu.png" alt="">
          <p>红酒</p>
      </ion-col>
      <ion-col>
          <img src="../../../assets/images/class_qkl.png" alt="">
          <p>巧克力</p>
      </ion-col>
      <ion-col>
          <img src="../../../assets/images/class_kt.png" alt="">
          <p>卡通花束</p>
      </ion-col>
    </ion-row>
    <ion-row class="type">
      <ion-col (click)="go('蛋糕')">
          <img src="../../../assets/images/class_mrwj.png" alt="">
          <p>毛绒玩具</p>
      </ion-col>
      <ion-col>
          <img src="../../../assets/images/class_syhl.png" alt="">
          <p>商业花篮</p>
      </ion-col>
      <ion-col>
          <img src="../../../assets/images/class_gl.png" alt="">
          <p>果篮</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="image">
    <img src="./assets/images/xf_wx.png" (click)="weixin()"><br>
    <div class="message" *ngIf="mess">
      <p>亲爱的主人</p>
      <p>加微信公众号：<span>七彩蛋糕客服</span></p>
      <p>可以直接和我对话</p>
      <p>更好的为您服务</p>
      <div class="close" (click)="close()">关闭</div>
    </div>
    <img src="./assets/images/xf_kf.png"><br>
    <img src="./assets/images/scroll-to-top-icon.png" (click)="scrollTo()" *ngIf="topshow">
  </div>
</ion-content>
