page-ucenter {

}
.headz1{
  text-align: center;
  width:100%;
  height:3rem;
  line-height:1rem;
  font-size: 1rem;
  border-bottom:1px solid #dedede;
}
.litlez11{
  color:red;
  font-size:2rem;
}
.litlez12{
  color:red;
  font-size:2rem;
}
.buttonzhm1{
  width:100%;
  height:4rem;
  text-align: center;
  line-height:4rem;
  background-color:#FD4B4B;
  border-radius:1rem;
  font-size: 2rem;
}
.buttonzhm1>a{
  color:white;
}
.buttonzhm2{
  width:100%;
  height:4rem;
  text-align: center;
  line-height:4rem;
  background-color:#6CB248;
  border-radius:1rem;
  font-size: 2rem;
  margin-top:1rem;
}
.image{
  position: fixed;
  bottom:80px;
  right:20px;
}
.image img{
  width:40px;
  height:40px;
}
.message{
  width:450px;
  height:190px;
  background-color: #ddd;
  border-radius:2px;
  padding-top:15px;
  text-align:center;
  opacity:0.9;
}
.message p{
  line-height:30px;
}
.message p span{
  color:#f00;
}
.message .close{
  width:380px;
  height:40px;
  background-color: #FF6666;
  color:#fff;
  line-height: 40px;
  margin-left:35px;
  border-radius:5px;
}
