page-about {
  .link-adress{
    padding: 10px;
    background-color: #f0efed;
  }
  .link-adress button{
    width: 100%;
    height: 36px;
    background-color:#f0efed;
    border:1px solid red;
    color: red;
  }
  .link-alladress ul{
    padding-top: 20px;
    background-color: #f1f1f5;
    font-size: 16px;
  }
  .link-alladress ul li{
    padding: 6px 10px;
    background-color: white;
    height: 30px;
  }
  .link-alladress ul li.ulli2{
    border-bottom:1px solid gray;
  }
  .link-alladress ul:first-child li.ulli3 button:last-child{
    display: none;
  }
  .link-alladress ul li.ulli3 button{
    float: right;
    background-color: #f1f1f5;
    color: black;
    font-size: 16px;
  }

}
